@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --almond: #D8E3E8;
    --gunmetal: #22333B;
    --putty: #a0a09e;
}

* {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--putty);
}

#table {
    height: 300px;
    width: 600px;
    display: grid;
    gap: 2px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gunmetal);
    color: var(--almond);
}

.cell:hover {
    cursor: pointer;
}